---
import '../styles/global.css';
import '../styles/animations.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cruz.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Iglesia Evangélica Menonita</title>
		<meta name="title" content="Iglesia Evangélica Menonita" />
		<meta name="description" content="Construyendo discípulos de Cristo en comunidad" />
		<meta name="keywords" content="iglesia, Dios, fe, espiritualidad, comunidad, cristianismo, amor, esperanza, Biblia, oración, adoración, salvación, evangelio, Jesús, iglesia evangélica, iglesia menonita, religión, ministerio, discipulado, servicio, misión" />
		
		<link rel="icon" type="image/svg+xml" href="/cruz.svg" />
		<link rel="apple-touch-icon" sizes="180x180" href="/iglesia.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/iglesia.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/iglesia.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="msapplication-TileColor" content="#2b5797" />
		<meta name="theme-color" content="#ffffff" />
		<title>Menonita Central</title>
	</head>
	<body >
		<main class="w-full h-screen  p-0 m-0">
		<slot />
		</main>
	</body>
</html>

<style>
	html,

</style>
